[user]
	email = osmanpontes@gmail.com
	name = Osman Pontes
[alias]
	lo = log --graph --format=oneline --abbrev-commit
	loa = !git lo --all
	lol = log --graph --format='%C(auto)%h%d %s%Creset %Cgreen(%cr)%Creset %C(cyan)<%an>%Creset'
	lold = log --graph --format='%C(auto)%h%d %s%Creset %Cgreen(%ai)%Creset %C(cyan)<%an>%Creset'
	lolauthor = log --graph --format='%C(auto)%h%d %s%Creset %Cgreen(%cr)%Creset %Cblue(%ar)%Creset %C(cyan)<%an>%Creset'
	lola = !git lol --all
	lolad = !git lold --all
	logp = log -p -M --stat --
	logpr = log -p -M --follow --stat --
	deltablame = -c core.pager=delta \
		-c delta.light=false \
		blame
	deltadiff = -c core.pager=delta \
		-c delta.light=false \
		-c delta.navigate=true \
		-c delta.conflictstyle=diff3 \
		-c delta.colorMoved=default \
		-c delta.side-by-side=true \
		diff
[init]
	defaultBranch = main
